@font-face {
    font-family: 'SF Pro Display Regular';
    src: url(/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
    font-family: 'SF Pro Display Light'; /*For the header*/
    src: url(/SFPRODISPLAYLIGHTITALIC.OTF);
}

body {
    font-family: 'SF Pro Display Regular';
}

/*
Color header
rgba(250, 250, 252, .8)
*/
